label {
  padding-right: 2em;
}

tr {
  display: inline-block;
}

.form-control {
  margin: 0.75em 0 0.75em 0;
}

.form-group {
  display: inline-block;
}

input, select, button {
  width : 150px;
  margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}
