<div class="container">
  <form #schadenForm="ngForm">
    <div class="form-group">
      <tr>
        <td>
          <label for="hersteller-select">
            Hersteller
          </label>
        </td>
        <td>
          <select
            class="form-control"
            id="hersteller-select"
            required
            [(ngModel)]="schaden.hersteller"
            name="hersteller">
            <option *ngFor="let hersteller of herstellerList" [value]="hersteller">
              {{ hersteller }}
            </option>
          </select>
        </td>
      </tr>
      <br>
      <tr>
        <td>
          <label for="art-select">
            Art von Gerät
          </label>
        </td>
        <td>
          <select
            class="form-control"
            id="art-select"
            required
            [(ngModel)]="schaden.art"
            name="art">
            <option *ngFor="let art of artList" [value]="art">
              {{ art }}
            </option>
          </select>
        </td>
      </tr>
      <br>
      <tr>
        <td>
          <label for="produktbezeichnung-input">
            Produktbezeichnung
          </label>
        </td>
        <td>
          <input
            type="text"
            [(ngModel)]="schaden.produktbezeichnung"
            name="produktbezeichnung"
            id="produktbezeichnung-input"
            class="form-control">
        </td>
      </tr>
      <br>
      <tr>
        <td>
          <label for="fehlerbeschreibung">
            Fehlerbeschreibung
          </label>
        </td>
        <td>
          <textarea
            type="text"
            [(ngModel)]="schaden.fehlerbeschreibung"
            name="fehlerbeschreibung"
            id="fehlerbeschreibung"
            class="form-control"
            cols="35"
            rows="3">
          </textarea>
        </td>
      </tr>
    </div>
    <br>
    <div class="form-group">
    <tr>
      <td>
    <button type="submit" class="btn btn-success" (click)="onSubmit()" class="form-control">Submit</button>
      </td>
    </tr>
    </div>
  </form>
</div>
