<div class="container color-dark">
  <hr id="top" />
  <div class="col">
    <p></p>
  </div>
  <div class="col">
    <p></p>
  </div>
</div>
<div class="col">
  <img src="../../assets/img/muellhalde_logo.png" class="sm">
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">use this form to save the world</p>
    <app-schaden-form></app-schaden-form>
  </div>
</div>
